[submodule "vim-addons/Tabular"]
	path = vim-addons/Tabular
	url = git://github.com/godlygeek/tabular
[submodule "vim-addons/github-plasticboy-vim-markdown"]
	path = vim-addons/github-plasticboy-vim-markdown
	url = git://github.com/plasticboy/vim-markdown
[submodule "vim-addons/vim-addon-manager"]
	path = vim-addons/vim-addon-manager
	url = git://github.com/MarcWeber/vim-addon-manager
[submodule "vim-addons/vim-pi"]
	path = vim-addons/vim-pi
	url = https://bitbucket.org/vimcommunity/vim-pi
